%nav
  %ul
    %li{class: current_page?(root_path)}= link_to 'Dziś', root_path
    %li{class: current_page?(meals_path)}= link_to 'Wszystkie', meals_path
    %li{class: current_page?(calculator_path)}= link_to 'Kalkulator', calculator_path
    %li{class: current_page?(weight_path)}= link_to 'Waga', weight_path
    %li{class: current_page?(exercises_path)}= link_to 'Ćwiczenia', exercises_path
    %li{class: current_page?(notes_path)}= link_to 'Notatki', notes_path
