= form_for(:meal, url: meals_path) do |f|
  %table
    %thead
      %tr
        %th= f.text_field :name, placeholder: 'posiłek', required: true, autofocus: true
        %th= f.text_field :energy, placeholder: 'kalorie'
        %th= f.time_field :consumed_at, name: 'meal[consumed_at][time]', value: meal.consumed_at.strftime('%H:%M')
        %th= f.date_field :consumed_at, name: 'meal[consumed_at][date]', value: meal.consumed_at.strftime('%Y-%m-%d')
        %th= f.submit 'Dodaj', class: 'button'
    %tbody
      - meals.each do |meal|
        %tr
          %td= link_to(meal.name, meal)
          %td= meal.energy
          %td= meal.consumed_at.strftime('%H:%M')
          %td= meal.consumed_at.strftime('%d/%m/%Y')
          %td
