%table
  %thead
    %th posiłek
    %th rozmiar
    %th godzina
    %th dzień
  %tbody
    %tr
      %td= meal.name
      %td= meal.size
      %td= meal.consumed_at.strftime('%H:%M')
      %td= meal.consumed_at.strftime('%d/%m/%Y')
      %td


= link_to 'Wróć do listy', meals_path, class: 'button'
= button_to 'Usuń', meal_path(meal), method: :delete, data: {confirm: 'Czy na pewno chcesz usunąć?'}, class: 'button delete'
